.box-roles {
    border: 1px solid #ccc;
    padding-top: 15px;
}

.list-roles {
    display: table;
    padding: 15px;
}

.role-item {
    display: inline-block;
    width: 49%;
}
@media (max-width: 576px) {
    .role-item {
        display: block;
        width: 100%;
    }
}